.products_page_container{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows:50px auto;
  font-family: "Arial";

  .table_menu_container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: max-content auto;

    .toggles_container{
      position: relative;
      padding:8px auto;
      width: 100%;
      height: auto;
      display: grid;
      // grid-column-gap:10px;
      justify-items:center;
      background-color: #d3d3d35e;
      overflow-y: scroll;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */

      &::-webkit-scrollbar {
        display: none;
      }

      .toggles{
        position: relative;
        display: inline-block;
        padding: 12px 25px;
        box-sizing:border-box;
        color:#333;
        transition:color 0.3s;
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;

        @media(max-width: 500px){
          padding: 12px 5px;
        }

      }

    }

    .list_blocks_container{
      position: relative;
      width: 100%;

      .lists_container{
        padding: 10px;
        box-sizing:border-box;
        scrollbar-width: none;
        scrollbar-color: orange white;


        .single_product_container{
          position: relative;
          width:100%;
          margin-bottom: 10px;
          padding: 4px;
          box-sizing:border-box;
          height: auto;
          display: grid;
          grid-template-columns:max-content auto 80px;
          grid-column-gap:5px;
          border-bottom: 2px solid lightgrey;

          .product_type{
            position: relative;
            padding-top: 4px;


            .product_type_icon{
              position: relative;
              height: 10px;
              width: 10px;
              border: 2px solid green;
              overflow: hidden;
              font-size: inherit!important;
            }

            .circle{
              position: absolute;
              top:50%;
              left: 50%;
              transform:translate(-50%,-50%);
              width: 8px;
              height: 8px;
              border-radius: 50px;
              background-color: green;
            }

            .non_veg{
              border-color: red;
               .circle{
                background-color: red;
               }
            }
          }

          .product_details_container{
            color: #333;
            line-height: 1.5;

            .product_name{
              white-space: pre-line;
              font-size: 14px;
              font-weight: 600;
            }

            .product_price_calories_container{
              position: relative;
              display: grid;
              grid-template-columns:auto auto;
              font-weight: 600;

              .product_price{
                font-size : 12px;

                justify-self:start;
              }

              .product_calories{
                font-size : 12px;
                justify-self:center;
              }
            }

            .product_description{
              color: grey;
              font-size: 12px;
              white-space: pre-line;
            }

            .qty_container{
              position: relative;
              display: inline-block;
              align-self: start;
              border:1px solid green;
              border-radius: 30px;
              background-color: green;
              margin-top: 3px;
              overflow: hidden;


              button{
                float: left;
                width:40px;
                height: 30px;
                outline: none;
                border:none;
                color: white;
                font-weight:500;
                background-color: transparent;
                cursor: pointer;
              }


              .product_qty{
                float: left;
                width:40px;
                height: 28px;
                // outline: none;
                text-align: center;
                outline: none;
                background-color: transparent;
                -webkit-appearance: none;
                -moz-appearance: textfield;
                appearance: textfield;
                border: none;
                color: white;
                font-weight: 600;

              }

            }

            .addon_details{
              color: #d93025;
              font-size:12px;
            }

          }

          .product_image{
            height: 80px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }

        }
      }
    }

  }
}