.header_container{
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid lightgrey;
  display: grid;
  grid-template-columns:max-content auto max-content max-content;
  align-items:center;
  grid-column-gap:10px;
  color: #333;
  background-color: white;

  .restaurant_name{
  margin-left: 5px;
  font-size: 14px;
  font-weight: 500;

  }
  .cart{
    position: relative;
    margin-right:20px;
    box-sizing:border-box;
    font-size: 22px;
    cursor: pointer;

    .cart_count{
      position: absolute;
      top: 0%;
      right: -30%;
      transform:translate(0%, -25%);
      padding: 1px 4px;
      border-radius: 20px;
      background-color: orangered;
      color: white;
      font-size: 12px;
      font-weight: 500;
      font-family: "Lato",sans-serif;
    }
  }
}